.profile__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .profile__main {
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: center;
  }
}
