.elements__card {
  width: 282px;
  height: 361px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 20px 17px 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.elements__card:nth-child(3n+3) {
  margin-right: 0;
}

.elements__card:nth-child(-n+3) {
  margin-top: 0;
}

@media screen and (max-width: 1079px) {
  .elements__card:nth-child(3) {
    margin-top: 20px;
  }
  .elements__card:nth-child(3n+3) {
    margin-right: 17px;
  }
  .elements__card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 620px) {
  .elements__card {
    margin: 20px 0 0;
  }
  .elements__card:nth-child(3n+3) {
    margin-right: 0;
  }
  .elements__card:nth-child(-n+3) {
    margin-top: 20px;
  }
  .elements__card:first-child {
    margin-top: 0;
  }
}
