.elements__like {
  width: 22px;
  height: 19px;
  transition: .4s;
  margin: 5px 5px 0 0;
}

.elements__like:hover {
  opacity: .6;
  cursor: pointer;
}

.elements__like:active {
  background-color: #000000;
}
