.profile__info {
  display: flex;
  max-width: 294px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-right: 18px;
}

@media screen and (max-width: 1123px) {
  .profile__info {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin-right: 0;
  }
}
